  .borde {
    border:1px solid #062b64 ;
  }
  .imagen {
    float: left;
  }
  .mapa { 
    margin-left: 350px;
  }
  .tam {
  border-radius: 5px;
  }
  .textoh3 {
    position: relative;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
  }
  h2 {
    position: relative;
    text-align: center;
    color: #062b64;
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
  }
  h1 {
    position: relative;
    text-align: center;
    color: #062b64;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  h3 {
      font-size: 23px;
      font-family: "Cormorant garamond", serif;
      text-align: center;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .p2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    color: #676767;
  }
  .oferta {
    text-decoration:line-through;
    color: red;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  /* 5 */
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #1562d4;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
  }
  .btn-5:hover {
    color: #0757cf;
    background: transparent;
     box-shadow:none;
  } 
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #0757cf;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  