<h1 style="margin-top: 20px; margin-bottom: 20PX;">Vacunos</h1>
<div class="container" style="margin-top: 10px; margin-bottom: 20px;">
	<div class="row">
        <div  style="margin-bottom: 10px;"  class="col-md-4 tam">
            <div class="card mb">
                    <img class="card-img-top"  height="290" alt="Card image cap">
                <div class="card-body mb">
                    <h3 class="card-title">Colita</h3>
                    <p class="card-text"></p>
                    <p class="p2"></p>
                    <button class="custom-btn btn-7" style="margin-left: 85px; color: black;"><span>Ver Oferta</span></button>
                </div>
            </div>
        </div>
  </div>
</div>