<h1 style="margin-top: 20px; margin-bottom: 20PX;">Vacunos</h1>
<div class="container" style="margin-top: 10px; margin-bottom: 20px;">
	<div class="row">
    <div *ngFor="let oferta of ofertas" style="margin-bottom: 10px;"  class="col-md-3 tam">
      <div class="card mb">
            <div class="card-body mb borde">
              <img class="card-img-top" [src]="oferta.imagen" height="250" alt="Card image cap">
              <h3 class="card-title">{{oferta.nombre}}</h3>
              <p class="oferta">{{oferta.precioa}}</p>
              <button class="custom-btn btn-7" style="margin-left: 40px; color: black;"><span>Ver Producto</span></button>
            </div>
      </div>
    </div>
  </div>
</div>