  <p>
    <mat-toolbar class="nia">
      <mat-toolbar-row>
        <img src="https://cdn-icons-png.flaticon.com/512/1702/1702822.png" height="40">
        <span style="margin-left: 10px;">Carnes Patagonicas</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button [matMenuTriggerFor]="menuFiambreria">Mira Nuestros Productos</button>
        <button mat-icon-button routerLink="/inicio" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>home</mat-icon>     
        </button>
      </mat-toolbar-row>
      
      
    </mat-toolbar> 
  </p>
  <mat-menu #menuFiambreria="matMenu">
    <button mat-menu-item routerLink="/vacunos">Vacunos</button>
    <button mat-menu-item>Pollos</button>
    <button mat-menu-item>Cerdos</button>
    <button mat-menu-item>Fiambres</button>
    <button mat-menu-item>Ofertas</button>
  </mat-menu> 
